.two-columns__main-text {
  width: 80%;
  line-height: 1.2;
  font-size: 22px;
  font-weight: normal;
}

@media screen and (max-width: 639px) {
  .two-columns__main-text {
    font-size: calc(14px + 8 * ((100vw - 320px) / (639 - 320)));
    font-size: 14px;
  }
}