.header__subtitle {
  max-width: 388px;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  line-height: 1;
  font-size: 18px;
  font-weight: normal;
}

@media screen and (max-width: 1023px) {
  .header__subtitle {
    max-width: 460px;
    font-size: 27px;
  }
}

@media screen and (max-width: 540px) {
  .header__subtitle {
    max-width: 320px;
    font-size: calc(21px + 6 * ((100vw - 320px) / (540 - 320)));
  }
}