.table__text {
  margin: 20px 0 0;
  text-align: left;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

@media screen and (max-width: 579px) {
  .table__text {
    text-align: center;
  }
}